.table1 {
    width: 500px;
    height: 300px;
    border-collapse: collapse;
    margin-top: 50px;
    background-image: url('../images/aks/aks2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.table1 th,
.table1 td {
    padding: 10px;
    text-align: left;
    color: black;
}

.table1 th {
    background-color: #f2f2f2;
    
}
.table2 {
    width: 500px;
    height: 300px;
    border-collapse: collapse;
    margin-top: 50px;
    background-image: url('../images/aks/aks3.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.table2 th,
.table2 td {
    padding: 10px;
    text-align: left;
    color: black;
}

.table2 th {
    background-color: #f2f2f2;
    
}



.table3 {
    width: 500px;
    height: 300px;
    border-collapse: collapse;
    margin-top: 50px;
    background-image: url('../images/aks/aks4.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.table3 th,
.table3 td {
    padding: 10px;
    text-align: left;
    color: black;
}

.table3 th {
    background-color: #f2f2f2;
    
}


