
.table {
    width: 500px;
    height: 250px;
    border-collapse: collapse;
    margin-top: 100px;
    background-image: url('/images/aks/2aks.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.table th,
.table td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    color: black;
}

.table th {
    background-color: #f2f2f2;
}
